.root {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform: translate(0, 0);
    z-index: 1000;
    display: none;
    font-family: sans-serif;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .8);
    cursor: pointer;
    z-index: 1;
}

.mainContainer {
    z-index: 2;
    background: #ffffff;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 40px 20px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;

    h1 {
        font-size: 20px;
        text-align: center;
        margin: 12px 0;
        font-weight: 700;
        color: rgb(57, 65, 125);
    }

    p {
        font-size: 14px;
        text-align: center;
        font-weight: 400;
        color: rgb(57, 65, 125);
    }
}

.closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 28px;
    height: 28px;
    border-radius: 3px;
    border: 1px solid #132F54;
    outline: none;
    font-weight: 700;
    color: #ffffff;
    cursor: pointer;
    filter: brightness(.9);
    background-color: rgb(57, 65, 125);

    .active{
        box-shadow: 0 0 4px 0 rgba(34, 60, 80, 0);
    }

    :hover {
        box-shadow: 0 0 4px 0 rgba(34, 60, 80, 0.6);
        filter: brightness(1);
    }

}

.isActive{
    display: flex;
}
