.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(57, 65, 125);
    box-shadow: 1px 4px 4px rgb(62, 67, 153);

    h1{
        font-size: 25px;
        margin: 12px 0;
        font-weight: 700;
        color: white;
    }
}