.root {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 0;
    button {
        font-size: 17px;
        font-weight: 18px;
        font-weight: 400;
        width: fit-content;
        box-sizing: border-box;
        padding: 5px 17px;
        border-radius: 5px;
        cursor: pointer;
        filter: brightness(.9);
        background: #fff;
        color: rgb(57, 65, 125);
        border: unset;
        outline: none;
        margin: 0 !important;
    }
    
    .btn:hover {
    filter: brightness(1.1);
    background: #39417d;
    padding: 4px 16px;
    color: #fff;
    box-shadow: 2px 4px 4px rgb(62, 67, 153);
    }
}
